#available-devices{
    padding: 5.6vw;
   
    h2{
        text-align: center;
        font-size: 40/16 + rem;
        margin-bottom: 24px;
    }
    .devices-container{
        display: flex;
        justify-content: space-around;
        gap: 24px;
        margin: 20px 0px;

        .device{

            img{
                width: 100%;
            }

            h3{
                text-align: center;
                font-size: 28/16 + rem;
                line-height: 38px;
                margin: 20px 0px 24px 0;
            }

            ul{

                li{
                    list-style: none;
                    text-align: center;
                    color: silver;
                    font-size: 18/16 + rem;
                    line-height: 28px;
                }
            }
        }
    }
}

@media screen and (max-width: 1025px) {
    #available-devices{
        padding: 10vw 5vw;

        h2{
            font-size: 28/16 + rem;
            margin-bottom: 16px;
        }

        .devices-container{

            .device{

                h3{
                    font-size: 24/16 + rem;
                    margin-bottom: 16px;
                }

                ul{

                    li{
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    
    #available-devices{

        h2{
            font-size: 24/16 + rem;
        }

        .devices-container{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 24px;

            .device{

                h3{
                    font-size: 22/16 + rem;
                }

                ul{

                    li{

                        a{
                            font-size: 15/16 + rem;
                        }
                    }
                }
            }
        }
    }
}