#home {
  
  display: flex;
  align-items: center;
  padding: 5.6vw;
  background: url("../img/home/home-background-lg.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
  height: auto;
  min-height: 100vh;
  position: relative;
 

  .home-left-container{
    width: 50%;
    display: flex;
    align-items: center;
    
    max-width: 640px;

    .home-left-main {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-top: 28px;
     

      h1{
       letter-spacing: normal;
        margin-bottom: 24px;
        text-align: center;
        font-size: 28px;
        line-height: 38px;
        font-weight: 700;
      }

      img{
       margin-bottom: 28px;
      }
  
      .logo {
        width: 320/16 + rem;
      }
  
      
    }
  }

  .dropdown-link{
    position: absolute;
    bottom: 35px;
    left: calc(5.6vw - 10px);
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: bounce 1.75s infinite ;
    

    &:hover{
      .dropdown-icon{
        background-color: white;
      }
    }

    
      .dropdown-icon {    
        height: 2px;
        width: 15px;    
        background-color: silver;
        
      }

      .left{
        rotate: 45deg;
      }

      .right{
        rotate: -45deg;
        margin-left: -5px;

      }


    }

}

.btn-choose-plan {
  background-color: $btnColor;
  height: 68px;
  border-radius: 4px;
  font-size: 18/16 + rem;
  max-width: 700px;
  width: 100%;
  padding: 20.5px 33px;
  margin-bottom: 20px;

  &:hover{
    filter: brightness(1.2);
    cursor: pointer;
  }
  
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-7px);
  }
  60% {
    transform: translateY(-3.5px);
  }
}


@media screen and (max-width: 1025px) {
  
  #home{
    background: url("../img/home/home-background-md.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 50vw;
    justify-content: center;
    min-height: 70vh;
    padding: 50vw 5vw 10vw 5vw;

    .home-left-container{
      max-width: 600px;
      width: 100%;
      padding-top: 40px;

      .home-left-main{
        margin-top: 0;
        
        h1{
          font-size: 24px;
          margin-bottom: 16px;
        }
      }
    }

    .dropdown-link{
      left: calc(50% - 20px);
     
    }
  }
}

@media screen and (max-width: 768px) {
  #home{
    padding: 50vw 5vw 20vw;

    .home-left-container{
      max-width: 500px;
      padding-top: 20px;

      .home-left-main{

        h1{
          font-size: 22/16 + rem;
        }

         .logo{
          width: 180px;
        }

        .btn-choose-plan {
          height: 50px;
          padding: 11.5px 24px;
          font-size: 15px;
        }

        .dropdown-link{
          bottom: 0;
        }
      }
    }
  }
}