#series{
    padding: 5.6vw;

    h2{
        text-align: center;
        font-size: 40/16 + rem;
        margin-bottom: 24px;
    }

    p{
        text-align: center;
        color: silver;
        margin-bottom: 20px;
        font-size: 20/16 + rem;
    }

    .comming-soon{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 24px;

        img{
            width: 100%;
            border-radius: 4px;
        }
    }
}