#watch-it-your-way{
    padding: 5.6vw;

    .content{
        display: flex;
       

        .img-container{
            width: 50%;

            img{
                width: 100%;
            }
        }

        .text-content{
            width: 50%;
            padding: 0 2vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            h2{
                font-size: 40/16 + rem;
                line-height: 50px;
                margin-bottom: 16px;
            }

            p{
                font-size: 20/16 + rem;
                line-height: 30px;
                color: silver;
            }
        }
    }
}

@media screen and (max-width: 1025px) {
    
    #watch-it-your-way{
        padding: 10vw 5vw;

        .content{

            .text-content{

                h2{
                    font-size: 28/16 + rem;
                }

                p{
                    font-size: 18/16 + rem;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #watch-it-your-way{

        .content{
            flex-direction: column;
    
            .img-container{
                width: 100%;
    
                img{
                    width: 100%;
                    margin-bottom: 20px;
                }
            }

            .text-content{
                text-align: center;
                width: 100%;

                h2{
                    margin-bottom: 16px;
                    font-size: 24/16 + rem;
                }

                p{
                    margin-bottom: 20px;
                    font-size: 1rem;
                }
            }
        }
    }
}