$primaryBtnColor: #0063e5;
$btnColor: rgb(100, 33, 255);

@import "./_header.scss";
@import "./_home.scss";
@import "./_series.scss";
@import "./_chooseYourPlan.scss";
@import "./_watchYourWay.scss";
@import "./_downloadMovies.scss";
@import "./_availableDevices.scss";
@import "./_commonQuestions.scss";
@import "./_footer.scss";

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: white;
  font-weight: 400;
}

h1,
h2,
h3 {
  font-weight: 700;
}

body {
  background-color: #040814;
  line-height: 30px;
  letter-spacing: 0.2px;
 
}

html {
  scroll-behavior: smooth;
}
